---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n<!-- Google Analytics Content
      Experiment code -->\n<script>function utmx_section(){}function utmx(){}(function(){var\nk='59305729-0',d=document,l=d.location,c=d.cookie;\nif(l.search.indexOf('utm_expid='+k)>0)return;\nfunction
      f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.\nindexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.\nlength:j))}}}var
      x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(\n'<sc'+'ript src=\"'+'http'+(l.protocol=='https:'?'s://ssl':\n'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+\n'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new
      Date().\nvalueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+\n'\" type=\"text/javascript\"
      charset=\"utf-8\"><\\/sc'+'ript>')})();\n</script><script>utmx('url','A/B');</script>\n<!--
      End of Google Analytics Content Experiment code -->\n\t\t<meta charset=\"utf-8\">\n\t\t<title>REST
      API Tutorial</title>\n\t\t<meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n\t\t<meta name=\"description\" content=\"The REST API
      Tutorial. Learn REST API best practices.\">\n\t\t<meta name=\"author\" content=\"Todd
      Fredrich, Pearson eCollege\">\n\t\t<!-- Le styles -->\n\t\t<link href=\"https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css\"
      rel=\"stylesheet\">\n\t\t<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements
      -->\n\t\t<!--[if lt IE 9]>\n\t\t<script src=\"//html5shim.googlecode.com/svn/trunk/html5.js\"></script>\n\t\t<![endif]-->\n\t\t<style
      type=\"text/css\">\n\t\t\tbody {\n\t\t\t\tpadding-top: 60px;\n\t\t\t\tpadding-bottom:
      40px;\n\t\t\t}\n            .banner-container {\n            }\n\t\t</style>\n\[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/lessons/whatisrest.html
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>What
      is REST?</title>\n\t\t<meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n\t\t<meta name=\"description\" content=\"A tutorial on
      the six primary REST constraints as explained by Roy Fielding\">\n\t\t<meta
      name=\"author\" content=\"Todd Fredrich, Pearson eCollege\">\n\t\t<!-- Le styles
      -->\n\t\t<link href=\"https://maxcdn.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css\"
      rel=\"stylesheet\">\n\t\t<style type=\"text/css\">\n\t\t\tbody {\n\t\t\t\tpadding-top:
      60px;\n\t\t\t\tpadding-bottom: 40px;\n\t\t\t}\n\t\t</style>\n\t\t<!-- Le HTML5
      shim, for IE6-8 support of HTML5 elements -->\n\t\t<!--[if lt IE 9]>\n\t\t<script
      src=\"//html5shim.googlecode.com/svn/trunk/html5.js\"></script>\n\t\t<![endif]-->\n\t\t<script
      type=\"text/javascript\">\n\n\t\t  var _gaq = _gaq || [];\n\t\t  _gaq.push(['_setAccount',
      'UA-31328878-1']);\n\t\t  _gaq.push(['_trackPageview']);\n\n\t\t  (f[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/lessons/restquicktips.html
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>RESTful
      Services Quick Tips</title>\n\t\t<meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n\t\t<meta name=\"description\" content=\"RESTful API or
      Web Service Quick Tips. Want to learn the high points of crea[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/lessons/httpmethods.html
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>HTTP
      Methods for RESTful Services</title>\n\t\t<meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n\t\t<meta name=\"description\" content=\"HTTP methods
      tutorial on how to use them for RESTful API or Web Service.[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/lessons/restfulresourcenaming.html
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>RESTful
      Resource Naming</title>\n\t\t<meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n\t\t<meta name=\"description\" content=\"Naming Tutorial:
      RESTful services are resource-based. How do you create [...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/lessons/idempotency.html
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>What
      is Idempotency?</title>\n\t\t<meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n\t\t<meta name=\"description\" content=\"Idempotency or
      Idempotence, definition in a non-academic way, specifically in REST AP[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/httpstatuscodes.html
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>HTTP
      Status Codes</title>\n\t\t<meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n\t\t<meta name=\"description\" content=\"HTTP status codes
      and how to use them in RESTful API or Web Services.\">\n\t\t<meta name=\"a[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/resources.html
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n\t\t<meta charset=\"utf-8\">\n\t\t<title>RESTful
      Web Services Resources</title>\n\t\t<meta name=\"viewport\" content=\"width=device-width,
      initial-scale=1.0\">\n\t\t<meta name=\"description\" content=\"REST API eBook
      for Best Practices and other resources, such as open-source REST Servi[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/index.html
    method: GET
  response:
    body: "<!DOCTYPE html>\n<html lang=\"en\">\n\t<head>\n<!-- Google Analytics Content
      Experiment code -->\n<script>function utmx_section(){}function utmx(){}(function(){var\nk='59305729-0',d=document,l=d.location,c=d.cookie;\nif(l.search.indexOf('utm_expid='+k)>0)return;\nfunction
      f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.\nindexOf(';',i);ret[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: https://www.restapitutorial.com/lessons/
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - application/x-directory
      Etag:
      - '"d41d8cd98f00b204e9800998ecf8427e"'
      Last-Modified:
      - Sun, 01 Jul 2018 18:47:05 GMT
    status: 200 OK
    code: 200
    duration: 514.179244ms
